In [196]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [197]:
# Path
path=r'/Users/kristenlehtinen/Documents/World Happiness Report/'

In [235]:
# Importing 2015 Data
data_2015 = pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/merged world happiness report.csv')

In [233]:
#Importing merged data
merged_data=pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/2015.csv')

merged_data.head()

In [239]:
data_2015.head()

,Year,Country,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Governmental Trust,Generosity
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [240]:
# Importing 2016 Data
data_2016 = pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/2016.csv')

In [241]:
data_2016.head()

,Year,Country,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Governmental Trust,Generosity
0,2016,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,2016,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,2016,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,2016,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,2016,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [242]:
# Importing 2017 Data
data_2017 = pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/2017.csv')

In [243]:
data_2017.head()

,Year,Country,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Governmental Trust,Generosity,Unnamed: 10,Unnamed: 11
0,2017,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,NaN,NaN
1,2017,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,NaN,NaN
2,2017,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,NaN,NaN
3,2017,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,NaN,
4,2017,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,NaN,NaN

In [244]:
# Importing 2018 Data
data_2018 = pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/2018.csv')

In [245]:
# Importing 2019 Data
data_2019 = pd.read_csv(r'/Users/kristenlehtinen/Documents/World Happiness Report/02 Data/Original Data/2019.csv')

In [206]:
data_2019.head()

,Year,Country,Happiness Rank,Happiness Score,Economy,Social Support,Life Expectancy,Freedom,Governmental Trust,Generosity
0,2019,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,2019,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,2019,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,2019,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322

# Checking for Missing Values

In [207]:
# Check for missing values in 2015
missing_values = data_2015.isnull().sum()

# Display the count of missing values for each column
print("Missing values per column:")
print(missing_values)

Missing values per column:
Year                  0
Country               0
Happiness Rank        0
Happiness Score       0
Economy               0
Social Support        0
Life Expectancy       0
Freedom               0
Governmental Trust    0
Generosity            0
dtype: int64

In [208]:
# Check for missing values in 2016
missing_values = data_2016.isnull().sum()

# Display missing values
print("Missing values per column:")
print(missing_values)

Missing values per column:
Year                  0
Country               0
Happiness Rank        0
Happiness Score       0
Economy               0
Social Support        0
Life Expectancy       0
Freedom               0
Governmental Trust    0
Generosity            0
dtype: int64

In [209]:
# Check for missing values in 2017
missing_values = data_2017.isnull().sum()

# Display missing values
print("Missing values per column:")
print(missing_values)

Missing values per column:
Year                    0
Country                 0
Happiness Rank          0
Happiness Score         0
Economy                 0
Social Support          0
Life Expectancy         0
Freedom                 0
Governmental Trust      0
Generosity              0
Unnamed: 10           155
Unnamed: 11           154
dtype: int64

In [210]:
# Check for missing values in 2018
missing_values = data_2018.isnull().sum()

# Display missing values
print("Missing values per column:")
print(missing_values)

Missing values per column:
Year                  0
Country               0
Happiness Rank        0
Happiness Score       0
Economy               0
Social Support        0
Life Expectancy       0
Governmental Trust    0
Generosity            0
dtype: int64

In [211]:
# Dropping missing value 
Data_2018_no_missing_values = data_2018.dropna()

In [212]:
# Check for missing values in 2018
missing_values = Data_2018_no_missing_values.isnull().sum()

# Display missing values
print("Missing values per column:")
print(missing_values)

Missing values per column:
Year                  0
Country               0
Happiness Rank        0
Happiness Score       0
Economy               0
Social Support        0
Life Expectancy       0
Governmental Trust    0
Generosity            0
dtype: int64

In [213]:
# Check for missing values in 2019
missing_values = data_2019.isnull().sum()

# Display missing values
print("Missing values per column:")
print(missing_values)

Missing values per column:
 Year                 0
Country               0
Happiness Rank        0
Happiness Score       0
Economy               0
Social Support        0
Life Expectancy       0
Freedom               0
Governmental Trust    0
Generosity            0
dtype: int64

# Checking for duplicate rows

In [214]:
duplicate_rows_2015 = data_2015[data_2015.duplicated()]

# Display the duplicate rows
print("Duplicate rows:")

Duplicate rows:

In [215]:
duplicate_rows_2016 = data_2016[data_2016.duplicated()]

# Display the duplicate rows
print("Duplicate rows:")

Duplicate rows:

In [216]:
duplicate_rows_2017 = data_2017[data_2017.duplicated()]

# Display the duplicate rows
print("Duplicate rows:")

Duplicate rows:

In [217]:
duplicate_rows_2018 = Data_2018_no_missing_values[Data_2018_no_missing_values.duplicated()]

# Display the duplicate rows
print("Duplicate rows:")

Duplicate rows:

In [218]:
duplicate_rows_2019 = data_2019[data_2019.duplicated()]

# Display the duplicate rows
print("Duplicate rows:")

Duplicate rows:

# Checking for Outliers

In [234]:
# Merged data 2015-2019
summary_stats = merged_data.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score     Economy  Social Support  \
count   158.0      158.000000       158.000000  158.000000      158.000000
mean   2015.0       79.493671         5.375734    0.846137        0.991046
std       0.0       45.754363         1.145010    0.403121        0.272369
min    2015.0        1.000000         2.839000    0.000000        0.000000
25%    2015.0       40.250000         4.526000    0.545808        0.856823
50%    2015.0       79.500000         5.232500    0.910245        1.029510
75%    2015.0      118.750000         6.243750    1.158448        1.214405
max    2015.0      158.000000         7.587000    1.690420        1.402230

       Life Expectancy     Freedom  Governmental Trust  Generosity
count       158.000000  158.000000          158.000000  158.000000
mean          0.630259    0.428615            0.143422    0.237296
std           0.247078    0.150693            0.120034    0.126685
min           0.000000    0.000000            0.000000    0.000000
25%           0.439185    0.328330            0.061675    0.150553
50%           0.696705    0.435515            0.107220    0.216130
75%           0.811013    0.549092            0.180255    0.309883
max           1.025250    0.669730            0.551910    0.795880

In [219]:
#Summary Stats 2015
summary_stats = data_2015.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score     Economy  Social Support  \
count   158.0      158.000000       158.000000  158.000000      158.000000
mean   2015.0       79.493671         5.375734    0.846137        0.991046
std       0.0       45.754363         1.145010    0.403121        0.272369
min    2015.0        1.000000         2.839000    0.000000        0.000000
25%    2015.0       40.250000         4.526000    0.545808        0.856823
50%    2015.0       79.500000         5.232500    0.910245        1.029510
75%    2015.0      118.750000         6.243750    1.158448        1.214405
max    2015.0      158.000000         7.587000    1.690420        1.402230

       Life Expectancy     Freedom  Governmental Trust  Generosity
count       158.000000  158.000000          158.000000  158.000000
mean          0.630259    0.428615            0.143422    0.237296
std           0.247078    0.150693            0.120034    0.126685
min           0.000000    0.000000            0.000000    0.000000
25%           0.439185    0.328330            0.061675    0.150553
50%           0.696705    0.435515            0.107220    0.216130
75%           0.811013    0.549092            0.180255    0.309883
max           1.025250    0.669730            0.551910    0.795880

In [220]:
#Summary Stats 2016
summary_stats = data_2016.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score    Economy   Social Support  \
count   157.0      157.000000       157.000000  157.000000      157.000000
mean   2016.0       78.980892         5.382185    0.953880        0.793621
std       0.0       45.466030         1.141674    0.412595        0.266706
min    2016.0        1.000000         2.905000    0.000000        0.000000
25%    2016.0       40.000000         4.404000    0.670240        0.641840
50%    2016.0       79.000000         5.314000    1.027800        0.841420
75%    2016.0      118.000000         6.269000    1.279640        1.021520
max    2016.0      157.000000         7.526000    1.824270        1.183260

       Life Expectancy     Freedom  Governmental Trust  Generosity
count       157.000000  157.000000          157.000000  157.000000
mean          0.557619    0.370994            0.137624    0.242635
std           0.229349    0.145507            0.111038    0.133756
min           0.000000    0.000000            0.000000    0.000000
25%           0.382910    0.257480            0.061260    0.154570
50%           0.596590    0.397470            0.105470    0.222450
75%           0.729930    0.484530            0.175540    0.311850
max           0.952770    0.608480            0.505210    0.819710

In [230]:
#Summary Stats 2017
summary_stats = data_2017.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score    Economy   Social Support  \
count   155.0      155.000000       155.000000  155.000000      155.000000
mean   2017.0       78.000000         5.354019    0.984718        1.188898
std       0.0       44.888751         1.131230    0.420793        0.287263
min    2017.0        1.000000         2.693000    0.000000        0.000000
25%    2017.0       39.500000         4.505500    0.663371        1.042635
50%    2017.0       78.000000         5.279000    1.064578        1.253918
75%    2017.0      116.500000         6.101500    1.318027        1.414316
max    2017.0      155.000000         7.537000    1.870766        1.610574

       Life Expectancy     Freedom  Governmental Trust  Generosity  \
count       155.000000  155.000000          155.000000  155.000000
mean          0.551341    0.408786            0.123120    0.246883
std           0.237073    0.149997            0.101661    0.134780
min           0.000000    0.000000            0.000000    0.000000
25%           0.369866    0.303677            0.057271    0.154106
50%           0.606042    0.437454            0.089848    0.231538
75%           0.723008    0.516561            0.153296    0.323762
max           0.949492    0.658249            0.464308    0.838075

       Unnamed: 10
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

In [221]:
#Summary Stats 2018
summary_stats = Data_2018_no_missing_values.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score    Economy   Social Support  \
count   156.0      156.000000       156.000000  156.000000      156.000000
mean   2018.0       78.500000         5.375917    0.891449        1.213237
std       0.0       45.177428         1.119506    0.391921        0.302372
min    2018.0        1.000000         2.905000    0.000000        0.000000
25%    2018.0       39.750000         4.453750    0.616250        1.066750
50%    2018.0       78.500000         5.378000    0.949500        1.255000
75%    2018.0      117.250000         6.168500    1.197750        1.463000
max    2018.0      156.000000         7.632000    2.096000        1.644000

       Life Expectancy  Governmental Trust  Generosity
count       156.000000          156.000000  156.000000
mean          0.597346            0.454506    0.181006
std           0.247579            0.162424    0.098471
min           0.000000            0.000000    0.000000
25%           0.422250            0.356000    0.109500
50%           0.644000            0.487000    0.174000
75%           0.777250            0.578500    0.239000
max           1.030000            0.724000    0.598000

In [222]:
#Summary Stats 2019
summary_stats = data_2019.describe()
print(summary_stats)

         Year  Happiness Rank  Happiness Score    Economy   Social Support  \
count   156.0      156.000000       156.000000  156.000000      156.000000
mean   2019.0       78.500000         5.407096    0.905147        1.208814
std       0.0       45.177428         1.113120    0.398389        0.299191
min    2019.0        1.000000         2.853000    0.000000        0.000000
25%    2019.0       39.750000         4.544500    0.602750        1.055750
50%    2019.0       78.500000         5.379500    0.960000        1.271500
75%    2019.0      117.250000         6.184500    1.232500        1.452500
max    2019.0      156.000000         7.769000    1.684000        1.624000

       Life Expectancy    Freedom   Governmental Trust  Generosity
count       156.000000  156.000000          156.000000  156.000000
mean          0.725244    0.392571            0.110603    0.184846
std           0.242124    0.143289            0.094538    0.095254
min           0.000000    0.000000            0.000000    0.000000
25%           0.547750    0.308000            0.047000    0.108750
50%           0.789000    0.417000            0.085500    0.177500
75%           0.881750    0.507250            0.141250    0.248250
max           1.141000    0.631000            0.453000    0.566000

In [223]:
data_2015.columns

Index(['Year', 'Country', 'Happiness Rank', 'Happiness Score', 'Economy',
       'Social Support', 'Life Expectancy', 'Freedom', 'Governmental Trust',
       'Generosity'],
      dtype='object')

# Checking data types

In [224]:
data_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                158 non-null    int64
 1   Country             158 non-null    object
 2   Happiness Rank      158 non-null    int64
 3   Happiness Score     158 non-null    float64
 4   Economy             158 non-null    float64
 5   Social Support      158 non-null    float64
 6   Life Expectancy     158 non-null    float64
 7   Freedom             158 non-null    float64
 8   Governmental Trust  158 non-null    float64
 9   Generosity          158 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.5+ KB

In [225]:
data_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                157 non-null    int64
 1   Country             157 non-null    object
 2   Happiness Rank      157 non-null    int64
 3   Happiness Score     157 non-null    float64
 4   Economy             157 non-null    float64
 5   Social Support      157 non-null    float64
 6   Life Expectancy     157 non-null    float64
 7   Freedom             157 non-null    float64
 8   Governmental Trust  157 non-null    float64
 9   Generosity          157 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.4+ KB

In [226]:
data_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                155 non-null    int64
 1   Country             155 non-null    object
 2   Happiness Rank      155 non-null    int64
 3   Happiness Score     155 non-null    float64
 4   Economy             155 non-null    float64
 5   Social Support      155 non-null    float64
 6   Life Expectancy     155 non-null    float64
 7   Freedom             155 non-null    float64
 8   Governmental Trust  155 non-null    float64
 9   Generosity          155 non-null    float64
 10  Unnamed: 10         0 non-null      float64
 11  Unnamed: 11         1 non-null      object
dtypes: float64(8), int64(2), object(2)
memory usage: 14.7+ KB

In [227]:
Data_2018_no_missing_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                156 non-null    int64
 1   Country             156 non-null    object
 2   Happiness Rank      156 non-null    int64
 3   Happiness Score     156 non-null    float64
 4   Economy             156 non-null    float64
 5   Social Support      156 non-null    float64
 6   Life Expectancy     156 non-null    float64
 7   Governmental Trust  156 non-null    float64
 8   Generosity          156 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 11.1+ KB

In [228]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0    Year               156 non-null    int64
 1   Country             156 non-null    object
 2   Happiness Rank      156 non-null    int64
 3   Happiness Score     156 non-null    float64
 4   Economy             156 non-null    float64
 5   Social Support      156 non-null    float64
 6   Life Expectancy     156 non-null    float64
 7   Freedom             156 non-null    float64
 8   Governmental Trust  156 non-null    float64
 9   Generosity          156 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [229]:
Data_2018_no_missing_values.to_csv(os.path.join(path, '02 Data', '2018_data.csv'))